/* General Body Styles */
body.home {
    background: white;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Sidebar */
.sidebar {
    width: 60px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #005f56; /* Adjusted for better visual appeal */
    color: #ffffff;
    padding: 10px;
    transition: width 0.3s ease, background 0.5s ease;
    overflow: hidden;
    z-index: 2;
}

.sidebar:hover {
    width: 250px;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
    text-align: left;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.3s ease;
    white-space: nowrap;
}

.sidebar a span {
    margin-left: 10px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar:hover a span {
    display: inline;
    opacity: 1;
}

.sidebar a:hover {
    background: #8FBC8B;
}

/* Main Content */
.main-content {
    margin-left: 60px; /* To accommodate the sidebar */
    padding: 40px;
    background: white;
    position: relative;
}

.main-header {
    text-align: center;
    margin-bottom: 20px;
}

.main-header h1 {
    color: #005f56; /* Tea green color */
}

/* Logo Container */
.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-container img {
    width: 600px; /* Adjust size as needed */
}

/* Collaboration Section */
.collaboration {
    text-align: center;
    margin-top: 80px; /* Move the collaboration section down more */
}

.collab-toggle {
    background: #005f56; /* Tea green color */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
    margin-bottom: 10px;
}

.collab-toggle:hover {
    background: #3cb371; /* Darker shade of tea green */
}

.collab-content {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease; /* Fade-in/out effect */
    margin-top: 10px;
}

.collab-content.show {
    display: block;
    opacity: 1;
}

/* Moving Cards */
.moving-cards {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    position: relative;
}

.card {
    width: 250px; /* Increased card size */
    height: 250px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Ensure text is below the image */
    padding: 10px;
    text-align: center;
    transition: transform 0.5s ease; /* Smooth transition for movement */
}

.card img {
    width: 80%;
    height: auto;
}

.card p {
    margin: 10px 0 0; /* Space between image and text */
    font-size: 18px; /* Adjust font size */
    color: #333;
}

#yaur{
    background-color: #005f56;
}
