<!DOCTYPE html>
<html>
<head>
    <title>Fun Fact</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<div class="sidebar">
        <a href="{{ url_for('signin') }}"><i class="fas fa-sign-in-alt"></i> <span>Sign In</span></a>
        <a href="{{ url_for('signup') }}"><i class="fas fa-user-plus"></i> <span>Sign Up</span></a>
        <a href="{{ url_for('profile') }}"><i class="fas fa-user"></i> <span>View Profile</span></a>
        <a href="{{ url_for('signout') }}"><i class="fas fa-sign-out-alt"></i> <span>Sign Out</span></a>
        <a href="{{ url_for('feedback') }}"><i class="fas fa-info-circle"></i> <span>feedback</span></a>
    </div>
<body class="funfact">
    <div class="container">
        <h1>EcoPeace</h1>
        <div class="stack-images">
            <!-- <img src="{{ url_for('static', filename='a.png') }}" alt="Image A">
            <img src="{{ url_for('static', filename='b.png') }}" alt="Image B"> -->
            <form action="/feedback" method="POST">
            <label> 
                <i class="fa-solid fa-face-smile"></i> 
                Are you satisfied with our collaboration idea?
            </label> 
            <div class="radio-group"> 
                <input type="radio" id="yes" name="satisfy" value="yes" checked> 
                <label for="yes">Yes</label> 
  
                <input type="radio" id="no" name="satisfy" value="no"> 
                <label for="no">No</label> 
            </div> 
  
            <label for="msg"> 
                <i class="fa-solid fa-comments" style="margin-right: 3px;"></i> 
                Write your Suggestions: 
            </label> 
            <textarea id="msg" name="feedback" rows="10" cols="30" required></textarea> 
  
            <button type="submit">Submit</button> 
        </form> 
    </div>
        </div>
    </div>
</body>
</html>
