<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signinup.css') }}">
</head>

<body class="signin">
    <div class="container">
        <header>
            <h1>Sign In</h1>
        </header>
        <form method="POST" action="{{ url_for('signin') }}">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Sign In">
            <a href="{{ url_for('signup') }}" class="link">Don't have an account? Sign up here.</a>
        </form>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>
<!-- sssssssssss -->